@model hackaton.Models.User
@using VM = hackaton.Models.ViewModels

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/sharedStyles.css" type="text/css" />
</head>

@*Header*@
<partial name="~/Views/Modules/partial_header.cshtml" model='new VM.VM_header { HeaderVariation=VM.VM_header.Variations.Logout}' />


<div class="main_container">

    <div class="main_card signup">

        <div class="content">
             
            <partial name="~/Views/Modules/partial_form_edit_admin.cshtml" model="Model" />

        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Tem certeza? [Administrador]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Administrador, deseja realmente excluir o usuário?
            </div>
            <div class="modal-footer" style="display: flex; flex-direction: row; justify-content: space-around;">
                <button id="fecharModal" type="button" class="btn btn-primary btn-override primary-color-override" style="width: 45%" data-bs-dismiss="modal">Fechar</button>
                <form asp-action="Delete" asp-controller="Users" method="post" style="width: 45%">

                    @Html.HiddenFor(m => m.Active)
                    @Html.HiddenFor(m => m.CPF)
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.IsAdmin)
                    @Html.HiddenFor(m => m.Name)
                    @Html.HiddenFor(m => m.Password)

                    <button id="confirmarExclusao" type="submit" class="btn btn-danger btn-override danger-color-override">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="/js/module-textbox-focus.js"></script>
<script src="/js/module-password-eye-visibility.js"></script>
<script src="/js/module-home-hover.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>